/* Import des variables CSS globales */
@import url('variables.css');

/* Style global pour le body */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style pour le header */
header {
    position: absolute;
    top: 0;
    width: 100%;
}

/* Style pour les formulaires */
form {
    background-color: var(--secondary-color);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

/* Style pour les titres */
h1 {
    color: var(--text-color);
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Style pour les labels */
label {
    font-size: 0.9em;
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

/* Style pour les champs de saisie */
input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    color: #000;
    box-sizing: border-box;
}

/* Style pour les boutons */
button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-family: var(--font-family);
}

button:hover {
    background-color: var(--primary-color-hover);
}

/* Style pour les liens */
a {
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    font-size: 0.9em;
}

/* Style pour le footer */
footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    color: gray;
}

/* Style spécifique pour le bouton de suppression de compte */
.delete-button {
    background-color: var(--error-color);
    font-family: var(--font-family);
}

.delete-button:hover {
    background-color: var(--error-color-hover);
}

/* Espacement spécifique pour le bouton de déconnexion */
.logout-spacing {
    margin-top: 20px; /* Ajustez cette valeur selon vos besoins */
}