main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ajustement pour le contenu principal */
}

form {
    width: 400px; /* Plus large pour un formulaire plus complexe */
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #252836;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

.logout-button {
    background-color: #d64545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #a73737;
}
