/* Import des variables CSS globales */
@import url('variables.css');

/* Style global pour le body */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

/* Style pour le header */
header {
    background-color: var(--background-color);
    padding: 10px 0;
}

/* Style pour la navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

/* Style pour les liens de navigation */
nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1em;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    background: linear-gradient(90deg, var(--primary-color), var(--primary-color-hover));
    transition: width 0.3s ease;
}

nav ul li a::before {
    left: 50%;
}

nav ul li a::after {
    right: 50%;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    width: 50%;
}

nav ul li a:hover {
    color: var(--primary-color-hover);
}

/* Désactiver l'effet de soulignement pour le logo */
nav ul li a.logo-link::before,
nav ul li a.logo-link::after {
    content: none;
}

/* Style pour le logo */
.logo {
    height: 40px;
    margin-right: 15px;
}