/* Import des variables CSS globales */
@import url('variables.css');

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

header {
    background-color: var(--background-color);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Aligner les éléments verticalement */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none; /* Supprime le soulignement de base */
    font-size: 1em;
    position: relative; /* Nécessaire pour les pseudo-éléments */
    transition: color 0.3s ease; /* Ajout d'une transition pour un effet de survol plus fluide */
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    background: linear-gradient(90deg, var(--primary-color), var(--primary-color-hover));
    transition: width 0.3s ease;
}

nav ul li a::before {
    left: 50%;
}

nav ul li a::after {
    right: 50%;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    width: 50%;
}

nav ul li a:hover {
    color: var(--primary-color-hover); /* Utilisation de la variable pour la couleur de survol */
}

.logo {
    height: 40px; /* Ajustez la hauteur du logo selon vos besoins */
    margin-right: 15px; /* Espace entre le logo et les autres éléments */
}