/* Style global pour le body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    background-color: #211f2a; /* Couleur de fond de la page */
    color: #ffffff; /* Couleur du texte */
}

/* Conteneur principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    margin-top: 20px;
}

/* Style pour le titre principal */
h1 {
    margin: 0;
    text-align: left;
    align-self: flex-start; /* Aligne le texte à gauche */
    padding-left: 10%; /* Décale un peu depuis la gauche */
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

/* Style pour le tableau */
table {
    width: 80%; /* Largeur du tableau pour qu'il soit centré */
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #1e1e2e; /* Fond du tableau */
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Ombre autour du tableau */
    border-radius: 8px; /* Coins arrondis */
    overflow: hidden;
}

/* Style pour l'en-tête du tableau */
thead {
    background-color: #2c2c3e; /* Fond sombre pour l'en-tête */
    color: #ffffff;
}

thead th {
    padding: 15px;
    font-weight: bold;
    font-size: 1rem;
    text-align: left; /* Alignement gauche */
}

/* Style pour les lignes du tableau */
tbody tr {
    background-color: #1e1e2e; /* Fond des lignes du tableau */
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #252534; /* Fond alterné */
}

tbody td {
    padding: 15px;
    border: 1px solid #2c2c3e; /* Bordures des cellules */
    font-size: 0.9rem;
}

tbody tr:hover {
    background-color: unset; /* Désactive l'effet de survol */
}

/* Style pour le pied de page */
footer {
    text-align: center;
    margin-top: 20px;
    color: #777777;
    font-size: 0.9rem;
}